<ion-view view-title="Stats">
  <ion-content class="padding">
    <div class="setup-account-section" ng-if="!isApiKeySet">
      <button class="button button-small button-outline button-positive" ui-sref="tab.settings">Connect your account</button>
    </div>
    <div ng-if="isApiKeySet">
        <h1>Last 7 Days</h1>
        <div class="list card">
          <div class="item item-divider">Projects</div>
          <div class="item item-body">
            <nvd3 options="chartOptions" data="chartProjectData"></nvd3>
          </div>
        </div>
        <div class="list card">
          <div class="item item-divider">Languages</div>
          <div class="item item-body">
            <nvd3 options="chartOptions" data="chartLanguageData"></nvd3>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
